* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.parent_div {
    display: flex;
    flex-direction: row;
}

.left_div{
    padding: 20px;
    background: #d9d9d9;
    height: 1016px;
    width: 50%;

}

.right_div{
    background: tomato;
    height: 1016px;
    width: 50%;
    

}

#H1{
    margin-bottom: 20px;
}
span{
    color: tomato; 
}

.header-logo_1 {
    margin-bottom: 20px;

}

.line{
    background: tomato;
    width: 224px;
    height: 16px;
    top: 889px;
    left: 84px;
}


