.parent_div {
    border: 3px solid black;
    display: flex;
    flex-direction: row;

}

.left_div{
    background: #d9d9d9;
    height: 300px;
    width: 50%;
    /* margin-left: 20px; */
    padding: 20px;

}

.right_div{
    background: tomato;
    height: 300px;
    width: 50%;
    padding: 20px;

}

#H1{

}
#H4{

}

#p{

}

.line{
    background: tomato;
    width: 224px;
    height: 16px;
    top: 889px;
    left: 84px;
}


